body{

}

.page-container{
    width:1100px;
    margin: 0 auto;
}

.flex-container{
    display: flex;
    justify-content: center;
}

.center-heading{
    text-align: center;
}

.heading-subtext{
    text-align: center;
}

.btn-player-choice, .btn-computer-choice{
    width:150px;
    padding: 25px 5px;
    margin:5px;     
}

#round-winner, #final-winner{
    text-align: center;
    padding-top:25px;
}

.even-container{
    flex:1;
    text-align: center;
}

#display-comp-score, #display-player-score{
    font-size:36px;
    color:red;
    font-weight: bold;
}